 /* Church Info Section*/
 .church-info-container {
    padding: 6.5rem 0;
    height: 45vh;
  }
  
  .church-info-text {
    font-size: 1.65rem;
    line-height: 1.6;
    text-align: left;
    color: #333;
    margin-bottom: 0;
    position: absolute;
    right: 15%;
    text-align: left;
    margin-left: 16rem;
    padding-right: 10rem;
  }

  .vertical-line1 {
    position: relative;
    left: 10%;
    transform: translateX(-50%);
    width: .2rem;
    height: 8rem;
    background-color: #CF4A46;
  }


  